/* Write your CSS here */
/* Write your CSS here */
.listcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrow {
  width: 10px;
  height: 10px;
}
.h {
  font-size: 20px;
  color: black;
}
